* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-size: 30px;
  line-height: 1.6;
  word-wrap: break-word;
  font-size: 16px;
  background: linear-gradient(to bottom, #141e30, #243b55);
}
h1,
h2,
h3 {
  line-height: 1.2;
  margin: 0;
}
button {
  font-family: "Roboto";
}
legend{
  font-size: 1.5rem;
}
.sign-in-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.sign-in-modal-content {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  /* align-items: center; */
  justify-content: space-evenly;
}
.sign-in-modal-title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.sign-in-modal--buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sign-in-modal--buttons-container > button {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}

.firebase-modal-container {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.firebaseui-tos.firebaseui-tospp-full-message {
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.6rem;
}

.header {
  height: 4rem;
  background: linear-gradient(to bottom, #232526, #414345);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.5rem;
}
.header--title {
  /* margin-right: auto; */
  font-size: 2rem;
}
.header--user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#header--signout-button,
#header--signin-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-family: Roboto;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: orangered;
  color: white;
}

#header--name {
  font-size: 1.2rem;
}

#header--photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.card-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
  gap: 2rem;
  padding: 2rem;
}

#new-book-button {
  position: fixed;
  z-index: 5;
  bottom: 50%;
  right: 5%;
  cursor: pointer;
  opacity: 0.8;
  color: palegoldenrod;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: firebrick;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
}
#library-info-button {
  position: fixed;
  z-index: 5;
  bottom: 30%;
  right: 5%;
  cursor: pointer;
  opacity: 0.8;
  background-color: seashell;
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
}
#new-book-button:hover,
#library-info-button:hover {
  opacity: 1;
}

.form-popup {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#form-container {
  max-width: 500px;
  background:  linear-gradient(to bottom, #9da6ac, #2c3e50);
  margin: auto;
  padding: 1.2rem;
  border: 1px solid #888;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-family: "Roboto";
}

#form-container input[type="text"],
#form-container input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
  font-size: 1rem;
  font-family: "Roboto";
}

/* When the inputs get focus, do something */
#form-container input[type="text"]:focus,
#form-container input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

#form-container .submit-cancel {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0 5px 10px 5px;
  opacity: 0.8;
  text-align: center;
}
#form-container #cancel {
  background-color: red;
}
#form-container .submit-cancel:hover {
  opacity: 1;
}

.card {
  border: 1px solid #eee;
  padding: 0.5rem;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #222;
  color: white;
  background: linear-gradient(#222, #222) padding-box,
    linear-gradient(to right, #f12711, #f5af19) border-box;
  border-radius: 20px;
  border: 6px solid transparent;
  font-family: "Rokkitt";
}
.card > h3 {
  font-size: 1.3rem;
  margin-inline: 0.3rem;
  word-break: break-all;
  font-weight: 500;
  text-transform: capitalize;
}
.card-edit-remove-button-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.4rem;
}
#card-edit-button {
  background-color: #04aa6d;
}
#card-delete-button {
  background-color: #ff2525d4;
}
#card-edit-button,
#card-delete-button {
  padding: 0.5rem 1.25rem;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  flex: 1;
  border-radius: 0.2rem;
  font-size: 1rem;
}
#card-edit-button:hover,
#card-delete-button:hover {
  opacity: 1;
}

.page-operation-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.4rem;
}
#increment-pages {
  background-color: #04aa6d;
  font-size: 2rem;
}
#decrement-pages {
  background-color: #ff2525d4;
  font-size: 2rem;
}
#read-book {
  font-size: 1rem;
}
#increment-pages,
#decrement-pages,
#read-book {
  color: black;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  flex: 1;
  border-radius: 0.2rem;
}
#increment-pages:hover,
#decrement-pages:hover,
#read-book:hover {
  opacity: 1;
}

.library-info-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.library-info-modal--content {
  display: grid;
  background-color: #222;
  color: white;
  width: 400px;
  min-height: 500px;
  border-radius: 20px;
  align-items: center;
}
.library-info-modal--title {
  font-size: 1.9rem;
  justify-self: center;
}
.library-info-modal--read-books,
.library-info-modal--total-books,
.library-info-modal--total-pages,
.library-info-modal--read-pages {
  align-self: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto";
  color: goldenrod;
}
.library-info-modal--close-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: white;
  margin-right: 1rem;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  justify-self: flex-end;
  opacity: 0.8;
  margin-bottom: -1rem;
}
.library-info-modal--close-button:hover {
  opacity: 1;
}
.sign-in-modal--buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sign-in-modal--buttons-container > button {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}

.edit-book-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#edit-book-modal--form {
  max-width: 500px;
  background-color: #222;
  margin: auto;
  padding: 1.2rem;
  border: 1px solid #888;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  background:  linear-gradient(to bottom, #9da6ac, #2c3e50);
}

#edit-book-modal--form input[type="text"],
#edit-book-modal--form input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
  font-size: 1rem;
  font-family: "Roboto";
}

/* When the inputs get focus, do something */
#edit-book-modal--form input[type="text"]:focus,
#edit-book-modal--form input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
  font-size: 1rem;
}

#edit-book-modal--form .edit-book-submit-cancel {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0 5px 10px 5px;
  opacity: 0.8;
  text-align: center;
  font-size: 1rem;
}
#edit-book-modal--form #edit-book-cancel-button {
  background-color: red;
}
#edit-book-modal--form .edit-book-submit-cancel:hover {
  opacity: 1;
}
.read-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

hr {
  width: 50%;
}

/* CUSTOM CHECKBOX */

#edit-book-checkbox-label,
#new-book-checkbox-label {
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#edit-book-checkbox-label input,
#new-book-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#edit-book-checkbox-label input:checked ~ .control,
#new-book-checkbox-label input:checked ~ .control {
  background-color: #04aa6d;
}
#edit-book-checkbox-label input:checked ~ .control:after,
#new-book-checkbox-label input:checked ~ .control:after {
  left: 27.5px;
}
#edit-book-checkbox-label .control,
#new-book-checkbox-label .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 25px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}
#edit-book-checkbox-label .control:after,
#new-book-checkbox-label .control:after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.55px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: white;
  transition: left 0.15s ease-in;
}

/* 
.footer {
  height: 4rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
} */

/* UTILS */
.hidden {
  display: none;
}
